<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./InicioSeccion.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Source Sans 3:wght@400;600&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600&display=swap" />
</head>
<body>
    <div class="inicio-de-sesion">
        <img class="fondo-registro-icon2" alt="" src="./public/fondo-registro.svg" />

        <div class="iniciar-sesion">
            <div class="boton-continuar2">
                <div class="boton"></div>
                <div class="continuar2">Continuar</div>
            </div>
            <div class="aun-no-tienes-container">
                <p class="aun-no-tienes-una-cuenta-regr">
                    <span>¿Aun no tienes una cuenta? </span>
                    <span class="regristrarte">Regristrarte</span>
                </p>
                <p class="aun-no-tienes-una-cuenta-regr">
                    Al registrarse acepta las politicas de seguridad y datos, todos sus
                    datos estan protegidos
                </p>
            </div>
            <div class="contrasea-is">
                <div class="contrasea1">Contraseña</div>
                <div class="rectangle-parent1">
                    <div class="rectangle-div"></div>
                    <div class="ingrese1">Ingrese una contraseña<input/> </div>
                </div>
            </div>
            <div class="correo-is">
                <div class="correo4">Correo</div>
                <div class="rectangle-parent2">
                    <div class="rectangle-div"></div>
                    <div class="ingrese-su-correo1">Ingrese su correo</div>
                </div>
            </div>
            <img class="iniciar-sesion-child" alt="" src="./public/line-11.svg" />

            <div class="iniciar-sesin2">Iniciar sesión</div>
        </div>
        <div class="footer3">
            <div class="footer4"></div>
            <div class="frmate2">© 2023, fórmate</div>
            <div class="este-sitio-est-container2">
                <span>
                    Este sitio está protegido por reCAPTCHA y se aplica la Política de
                    privacidad y Términos de uso de Google.
                </span>
                <span class="ultima-actualizacion-03112022">Ultima actualizacion 03/11/2023</span>
            </div>
            <div class="donaciones2">Donaciones</div>
            <div class="quiero-donar-para2">
                Quiero donar para ayudar a mas jóvenes
            </div>
            <div class="trminos-y-condiciones2">Términos y condiciones</div>
            <div class="politica-y-privacidad2">Politica y privacidad</div>
            <div class="politica-de-cookies2">Politica de cookies</div>
            <div class="legal2">Legal</div>
            <img class="formate-removebg-preview-3-icon1"
                 alt=""
                 src="./public/formateremovebgpreview-3@2x.png" />

            <div class="footer-item"></div>
        </div>
        <div class="barra-de-navegacion2">
            <div class="header1"></div>
            <div class="boton-iniciar-sesion2">
                <img class="boton-icon2" alt="" src="./public/boton1.svg" />

                <div class="iniciar-sesin3">Iniciar sesión</div>
            </div>
            <div class="registrarse3">Registrarse</div>
            <div class="quienes-somos2">Quienes somos</div>
            <div class="categorias1">Categorias</div>
            <div class="inicio2">Inicio</div>
        </div>
        <img class="logo-prueba-icon2" alt="" src="./public/logoprueba1@2x.png" />
    </div>
</body>
</html>
