<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - formate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/formate.stylaso.css" asp-append-version="true" />
</head>
<body>



    <div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>

        <ul class="vertical menu" data-accordion-menu>
            <li>
                <a href="#">SERVICES</a>
                <ul class="menu vertical nested">
                    <li><a href="#">Brand</a></li>
                    <li><a href="#">Web Apps</a></li>
                    <li><a href="#">Mobile Apps</a></li>
                </ul>
            </li>
            <li>
                <a href="#">PRODUCTS</a>
                <ul class="menu vertical nested">
                    <li><a href="#">Product 1</a></li>
                    <li><a href="#">Product 2</a></li>
                    <li><a href="#">Product 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">CITIES</a>
                <ul class="menu vertical nested">
                    <li><a href="#">London</a></li>
                    <li><a href="#">New York</a></li>
                    <li><a href="#">Paris</a></li>
                </ul>
            </li>
        </ul>
        <ul class="vertical menu">
            <li class="off-canvas-menu-item"><a href="#">Tour</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Support</a></li>
        </ul>
        <ul class="vertical menu">
            <li><a href="#">Journal</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Students</a></li>
        </ul>
        <ul class="menu simple social-links">
            <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
        <div class="nav-bar">
            <div class="nav-bar-left">
                <a class="nav-bar-logo"><img class="logo" src="https://placehold.it/150x30"></a>
            </div>
            <div class="nav-bar-right">
                <ul class="menu">
                    <li class="hide-for-small-only"><a href="#">TOUR</a></li>
                    <li class="hide-for-small-only"><a href="#">LOGIN</a></li>
                    <li>
                    <li>
                        <button class="offcanvas-trigger" type="button" data-open="offCanvasRight">
                            <span class="offcanvas-trigger-text hide-for-small-only">Menu</span>
                            <div class="hamburger">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body-info">
            <h4> Multilevel Off-Canvas </h4>
            <a class="button disabled" href="#">Watch Video (coming soon)</a>
        </div>
    </div>





 
   <footer class="footer">
          <div class="overlap">
            <div class="text-wrapper-10">© 2023, fórmate</div>
            <p class="este-sitio-est">
              <span class="span"
                >Este sitio está protegido por reCAPTCHA y se aplica la Política de privacidad y Términos de uso de
                Google.
              </span>
              <span class="text-wrapper-11">Ultima actualizacion 03/11/2023</span>
            </p>
            <div class="frame-2">
              <div class="text-wrapper-12">Donaciones</div>
              <p class="text-wrapper-13">Quiero donar para ayudar a mas jóvenes</p>
            </div>
            <div class="frame-3">
              <div class="text-wrapper-12">Legal</div>
              <div class="text-wrapper-14">Términos y condiciones</div>
              <div class="text-wrapper-14">Politica y privacidad</div>
              <div class="text-wrapper-14">Politica de cookies</div>
            </div>
            <img class="formate-removebg" src="img/formate-removebg-preview-3.png" />
            <img class="line" src="img/line-3.svg" />
          </div>
        </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
