<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - formate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/formate.styles.css" asp-append-version="true" />

  @*Iconos*@
    <script src="https://kit.fontawesome.com/06370cda79.js" crossorigin="anonymous"></script>

</head>
<body>

    <header>
        <nav class="navbar" style="background-color: #19B3D3;">
            <div class="container-fluid">
                <a class="navbar-brand">Navbar</a>
                <div class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-danger" type="submit">Salir</button>
                </div>
            </div>
        </nav>
    </header>


    <div class="dashboard-container">

        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="profile_info">
                <img src="~/Img/Logo-formate.jpeg" class="profile_image" alt="">
                <h4>Fórmate</h4>
            </div>
            <a style="background:#19B3D3;" asp-area="" asp-controller="Home" asp-action="Index"><span>Home</span></a>
            <a href="#"><span>Components</span></a>
            <a href="#"><span>Tables</span></a>
            <a href="#"><span>Formularios</span></a>
            <a href="#"><span>Libros</span></a>
            <a href="#"><span>About</span></a>
            <a href="#"><span>Settings</span></a>
            <a asp-controller="Libro" asp-action="Index"><span>Libros</span></a>

        </aside>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
