.conocenos {
    background-color: #fbf7f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    .conocenos .div {
        background-color: #fbf7f4;
        overflow: hidden;
        width: 1340px;
        height: 2498px;
        position: relative;
    }

    .conocenos .barra-de-navegacion {
        position: absolute;
        width: 1340px;
        height: 72px;
        top: 0;
        left: 0;
        background-color: #72baab;
    }

    .conocenos .frame {
        align-items: center;
        gap: 32px;
        top: 18px;
        left: 715px;
        display: inline-flex;
        position: absolute;
    }

    .conocenos .text-wrapper {
        width: 42px;
        height: 22.31px;
        position: relative;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #171717;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .text-wrapper-2 {
        position: relative;
        width: 83px;
        height: 22.31px;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #171717;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .text-wrapper-3 {
        position: relative;
        width: 119px;
        height: 22.31px;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #171717;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .text-wrapper-4 {
        width: 102px;
        height: 22px;
        position: relative;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #171717;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .boton-iniciar-sesion {
        position: relative;
        width: 126px;
        height: 40px;
        background-image: url(./img/boton.svg);
        background-size: 100% 100%;
    }

    .conocenos .text-wrapper-5 {
        position: absolute;
        width: 85px;
        top: 7px;
        left: 26px;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #060805;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }

    .conocenos .logo-prueba {
        position: absolute;
        width: 65px;
        height: 65px;
        top: 4px;
        left: 25px;
        object-fit: cover;
    }

    .conocenos .sobre-nosotros {
        position: absolute;
        width: 1342px;
        height: 280px;
        top: 72px;
        left: 0;
    }

    .conocenos .overlap-group {
        height: 280px;
        background-image: url(./img/jovenes-en-fila-SN.png);
        background-size: 100% 100%;
        position: relative;
        width: 1340px;
    }

    .conocenos .text-wrapper-6 {
        position: absolute;
        top: 204px;
        left: 150px;
        font-family: "Open Sans-Bold", Helvetica;
        font-weight: 700;
        color: #ffffff;
        font-size: 36px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .p {
        position: absolute;
        width: 820px;
        height: 156px;
        top: 451px;
        left: 150px;
        font-family: "Source Sans 3-Regular", Helvetica;
        font-weight: 400;
        color: #000000;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 26px;
    }

    .conocenos .nuestra-mision {
        position: absolute;
        width: 1340px;
        height: 450px;
        top: 708px;
        left: 0;
        background-color: #4a4e69;
    }

    .conocenos .mision-tx {
        display: flex;
        flex-direction: column;
        width: 1335px;
        height: 450px;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 80px 350px;
        position: relative;
        left: 5px;
    }

    .conocenos .text-wrapper-7 {
        position: relative;
        width: fit-content;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #dde1eb;
        font-size: 32px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .buscamos-acompa-ar-a {
        position: relative;
        width: 640px;
        margin-left: -2.5px;
        margin-right: -2.5px;
        font-family: "Source Sans 3-Regular", Helvetica;
        font-weight: 400;
        color: #f2e9e4;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0;
        line-height: 26px;
    }

    .conocenos .significado {
        position: absolute;
        width: 1340px;
        height: 350px;
        top: 1158px;
        left: 0;
        background-color: #f2e9e4;
    }

    .conocenos .significado-formate {
        display: flex;
        width: 1340px;
        height: 350px;
        align-items: center;
        justify-content: center;
        gap: 100px;
        padding: 80px 150px;
        position: relative;
    }

    .conocenos .simbolizamos-la {
        position: relative;
        width: 635px;
        font-family: "Source Sans 3-Regular", Helvetica;
        font-weight: 400;
        color: #222222;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 26px;
    }

    .conocenos .logo {
        position: relative;
        width: 300px;
        height: 284px;
        margin-top: -47px;
        margin-bottom: -47px;
        object-fit: cover;
    }

    .conocenos .fotos {
        position: absolute;
        width: 1340px;
        height: 310px;
        top: 1508px;
        left: 0;
    }

    .conocenos .image {
        width: 485px;
        left: 0;
        position: absolute;
        height: 310px;
        top: 0;
        object-fit: cover;
    }

    .conocenos .img {
        width: 477px;
        left: 863px;
        position: absolute;
        height: 310px;
        top: 0;
        object-fit: cover;
    }

    .conocenos .image-2 {
        width: 365px;
        left: 492px;
        position: absolute;
        height: 310px;
        top: 0;
        object-fit: cover;
    }

    .conocenos .donaciones {
        position: absolute;
        width: 1340px;
        height: 380px;
        top: 1818px;
        left: 0;
        background-color: #4a4e69;
    }

    .conocenos .donaciones-formate {
        display: flex;
        flex-direction: column;
        width: 1335px;
        height: 380px;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 80px 350px;
        position: relative;
        left: 5px;
    }

    .conocenos .text-wrapper-8 {
        position: relative;
        width: fit-content;
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #f2e9e4;
        font-size: 36px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .text-wrapper-9 {
        position: relative;
        width: 620px;
        font-family: "Source Sans 3-Regular", Helvetica;
        font-weight: 400;
        color: #f2e9e4;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0;
        line-height: 26px;
    }

    .conocenos .footer {
        position: absolute;
        width: 1344px;
        height: 300px;
        top: 2198px;
        left: 0;
        background-color: transparent;
    }

    .conocenos .overlap {
        height: 300px;
        background-color: #2a2a2a;
        position: relative;
        width: 1340px;
    }

    .conocenos .text-wrapper-10 {
        position: absolute;
        top: 238px;
        left: 1150px;
        font-family: "Source Sans 3-SemiBold", Helvetica;
        font-weight: 600;
        color: #f2e9e4;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .este-sitio-est {
        position: absolute;
        width: 946px;
        top: 238px;
        left: 75px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: #f2e9e4;
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .span {
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: #f2e9e4;
        font-size: 14px;
        letter-spacing: 0;
    }

    .conocenos .text-wrapper-11 {
        font-family: "Open Sans-SemiBold", Helvetica;
        font-weight: 600;
    }

    .conocenos .frame-2 {
        flex-direction: column;
        align-items: flex-start;
        gap: 21px;
        padding: 0px 48px 0px 35px;
        top: 33px;
        left: 882px;
        display: inline-flex;
        position: absolute;
    }

    .conocenos .text-wrapper-12 {
        position: relative;
        width: fit-content;
        margin-top: -1px;
        font-family: "Source Sans 3-SemiBold", Helvetica;
        font-weight: 600;
        color: #f2e9e4;
        font-size: 18px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .text-wrapper-13 {
        position: relative;
        width: 300px;
        height: 23px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: #f2e9e4;
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .frame-3 {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 21px;
        padding: 0px 190px 0px 35px;
        top: 37px;
        left: 478px;
        display: inline-flex;
        position: absolute;
    }

    .conocenos .text-wrapper-14 {
        position: relative;
        width: 159px;
        height: 23px;
        font-family: "Open Sans-Regular", Helvetica;
        font-weight: 400;
        color: #f2e9e4;
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
    }

    .conocenos .formate-removebg {
        position: absolute;
        width: 380px;
        height: 110px;
        top: 69px;
        left: 78px;
    }

    .conocenos .line {
        position: absolute;
        width: 1190px;
        height: 3px;
        top: 222px;
        left: 75px;
    }
