@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="INICIO">
      <div class="div">
        
        
        <div class="overlap">
          <div class="grupo-SAT">
            <div class="frame-4">
              <div class="text-wrapper-9">Conoce al SAT</div>
              <p class="p">
                Tranquilo, no es tan aterrador como lo muestran en redes sociales y memes, el SAT es la máxima autoridad
                fiscal responsable del cobro de impuestos en México.
              </p>
              <div class="ver-mas-again"><div class="text-wrapper-10">Ver más</div></div>
            </div>
            <div class="img-SAT">
              <div class="overlap-group-3">
                <div class="rectangle"></div>
                <img class="fx" src=".../wwwroot/Img/IN-SAT.jpg"/>
              </div>
            </div>
          </div>
        </div>
        <div class="group-banco">
          <div class="img-banco">
            <div class="overlap-group-4">
              <div class="rectangle-2"></div>
              <img class="element" src=".../wwwroot/Img/IN-BANCO.jpg" />
            </div>
          </div>
          <div class="frame-5">
            <div class="text-wrapper-11">Aprende sobre los bancos</div>
            <p class="text-wrapper-12">
              Los bancos no tienen porque ser aburridos ni tardados, mientras antes aprendas de ellos mejores beneficios
              tendran en tu vida a largo plazo.
            </p>
            <div class="ver-mas-again"><div class="text-wrapper-10">Ver más</div></div>
          </div>
        </div>
        <div class="grupo-BF-wrapper">
          <div class="grupo-BF">
            <div class="frame-6">
              <div class="text-wrapper-9">Bienestar financiaro</div>
              <p class="p">
                Aunque con 18 puede que de miedo saber como viviras dentro de 50 años que no puedas trabajar, queremos
                preparte para ese futuro
              </p>
              <div class="ver-mas-again"><div class="text-wrapper-10">Ver más</div></div>
            </div>
            <div class="img-BF">
              <div class="overlap-group-3">
                <div class="rectangle-3"></div>
                            <img class="img" src=".../wwwroot/Img/IN-BF.jpg" />
              </div>
            </div>
          </div>
        </div>
        <div class="grupo-CV">
          <div class="frame-7">
            <div class="text-wrapper-13">Veamos ese CV</div>
            <p class="text-wrapper-14">
              Es importante como te vas a dar esa primera impresion ante la empresa a que quieres entrar, es por ello
              que te presentamos este apoyo.
            </p>
            <div class="ver-mas-again"><div class="text-wrapper-10">Ver más</div></div>
          </div>
          <div class="overlap-2">
            <div class="rectangle-4"></div>
                    <img class="que-informacion-debe" src=".../wwwroot/Img/IN-CV.jpg" />
          </div>
        </div>
        <footer class="footer">
          <div class="overlap-3">
            <div class="text-wrapper-15">© 2023, fórmate</div>
            <p class="este-sitio-est">
              <span class="span"
                >Este sitio está protegido por reCAPTCHA y se aplica la Política de privacidad y Términos de uso de
                Google.
              </span>
              <span class="text-wrapper-16">Ultima actualizacion 03/11/2023</span>
            </p>
            <div class="text-wrapper-17">Donaciones</div>
            <p class="text-wrapper-18">Quiero donar para ayudar a mas jóvenes</p>
            <div class="text-wrapper-19">Términos y condiciones</div>
            <div class="text-wrapper-20">Politica y privacidad</div>
            <div class="text-wrapper-21">Politica de cookies</div>
            <div class="text-wrapper-22">Legal</div>
            <img class="formate-removebg" src=".../wwwroot/Img/Logotipo-Formate-SF.png" />
            <img class="line" src="img/line-3.svg" />
          </div>
        </footer>
      </div>
    </div>


 }