@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sobre Nosotros :)";
    
}

  <div class="conocenos">
        <div class="div">
            <div class="sobre-nosotros">
                <div class="overlap-group"><div class="text-wrapper-6">Sobre nosotros</div></div>
            </div>
            <p class="p">
                Muchos jóvenes se encuentran entrando a una nueva etapa de la vida, con cambios que no todos conocen o al
                menos no en su mayoría, tal vez tu como adulto joven aun no te encuentres informado o no te sientas preparado
                para realizar los tramites que te servirán a lo largo de tu vida por todo lo abrumante que suena e inclusive
                complicado. “Fórmate” sabe que aunque la vida adulta sea aterradora querremos acompañarte para enfrentarla,
                seremos aquel apoyo para tu formación, ayudándote en el camino, informándote de manera clara y también
                practica, nosotros te daremos algunos consejos sobre como puedes vivir este proceso de la mejor manera.
            </p>
            <div class="nuestra-mision">
                <div class="mision-tx">
                    <div class="text-wrapper-7">Nuestra misión</div>
                    <p class="buscamos-acompa-ar-a">
                        Buscamos acompañar a nuestra comunidad, brindándoles apoyo tanto emocional como práctico, y estamos
                        comprometidos a crear un espacio donde todos puedan prosperar, no solo queremos informar, sino también
                        inspirar y guiar, transformando la ansiedad de la transición a la vida adulta en emoción y confianza.
                        <br />¿Estas listo para tomar el control de tu vida adulta de una manera que sea a la vez informada y
                        emocionante? Únete a nosotros en Fórmate, donde juntos, transformaremos el miedo en emoción y la
                        incertidumbre en confianza. ¡Tu futuro te está esperando, y estamos aquí para ayudarte a aprovecharlo al
                        máximo!
                    </p>
                </div>
            </div>
            <div class="significado">
                <div class="significado-formate">
                    <p class="simbolizamos-la">
                        Simbolizamos la comunidad y el&nbsp;&nbsp;y el cuidado, inspirándose en el comportamiento social y
                        protector de las ballenas hacia sus crías. Además, la adaptabilidad de las ballenas en entornos diversos
                        podría reflejar la capacidad de &#34;Fórmate&#34; para ofrecer un apoyo versátil y ayudar a los jóvenes a
                        enfrentar los desafíos de la vida adulta con éxito.
                    </p>
                <img class="logo" src=".../wwwroot/Img/Logo-Formate-SF.png" />
                </div>
            </div>
            <div class="fotos">
            <img class="image" src=".../wwwroot/Img/SN-GaleriaFt1.jpg" />
            <img class="img" src=".../wwwroot/Img/SN-GaleriaFt3.jpg" />
            <img class="image-2" src=".../wwwroot/Img/SN-GaleriaFt2.jpg" />
            </div>
            <div class="donaciones">
                <div class="donaciones-formate">
                    <div class="text-wrapper-8">¿Cómo nos apoyas?</div>
                    <p class="text-wrapper-9">
                        Puedes ayudar a mas jóvenes como tú, tu apoyo es fundamental para el mantenimiento nuestra pagina y los
                        servicios que ofrece para todos. Cada donativo que recibimos nos permite seguir acompañando a los jóvenes
                        que lo necesiten para prosperar en la vida adulta.
                    </p>
                </div>
            </div>
        </div>
    </div>